---
- name: Ensure NetworkManager tools are present
  ansible.builtin.package:
    name: network-manager
    state: present

- name: Increase net.core.rmem_max
  ansible.posix.sysctl:
    name: net.core.rmem_max
    value: 7500000

- name: Increase net.core.wmem_max
  ansible.posix.sysctl:
    name: net.core.wmem_max
    value: 7500000
