services:
  blocky:
    image: ghcr.io/0xerr0r/blocky
    container_name: blocky
    restart: unless-stopped
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "4000:4000/tcp"
    networks:
      - ipv6net
    environment:
      - TZ=America/Mexico_City
    configs:
      - source: config.yml
        target: /app/config.yml
    volumes:
      - /etc/localtime:/etc/localtime:ro

networks:
  ipv6net:
    driver: bridge
    enable_ipv6: true

configs:
  config.yml:
    content: |
      upstreams:
        strategy: strict
        groups:
          default:
            - "https://dns.cloudflare.com/dns-query"
            - "https://dns10.quad9.net/dns-query"
            - "https://dns.google/dns-query"
            - "https://dns.nextdns.io"
      blocking:
        denylists:
          ads:
            - "https://cdn.jsdelivr.net/gh/hagezi/dns-blocklists@latest/wildcard/multi.txt"
        clientGroupsBlock:
          default:
            - ads
      ports:
        dns: 53
        http: 4000
      log:
        level: info
      queryLog:
        type: none
      bootstrapDns:
        - "https://[2606:4700:4700::1111]/dns-query"
        - "https://1.1.1.1/dns-query"
        - "192.168.100.1"